*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav{
    background-color:aquamarine;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: black;
    /* justify-self: start;
    margin-left: 20px; */
    cursor: pointer;
}
.nav-menu{
    display: flex;
    justify-content: center;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    font-size: 1.2rem;
    
}